In [ ]:
#Choose a random Wikipedia website and extract the data we need from it

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [3]:
page=requests.get(url)

In [4]:
soup=BeautifulSoup(page.text,'html')

In [ ]:
soup

In [18]:
table=soup.find_all('table',class_='wikitable sortable')[0]

In [26]:
title=table.find_all('th')

In [28]:
title3=[t.text.strip() for t in title]
print(title3)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [30]:
title2=[]
for t in title:
    title2.append(t.text.strip())
print(title2)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [31]:
import pandas as pd

In [119]:
df=pd.DataFrame(columns=title2)

In [120]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [121]:
rows=table.find_all('tr')

In [126]:
for i in rows[1:]:
    data=i.find_all('td')
    row=[d.text.strip() for d in data]
    
    length=len(df)
    df.loc[length]=row

In [128]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"